{% extends "base.html" %}

{% block content %}
  <h3>Patient Management System {% if patients %}<small class="text-muted">({{ patients|length }} Patient{{ patients|length|pluralize:"s" }})</small>{% endif %}</h3>
  <hr>
  {% if user.is_authenticated %}
    {% if patients %}
      <div>
        {% for patient in patients %}
        <li>
          <a href="{% url 'patients_detail' patient.id %}">
          {{patient.first_name}} {{ patient.last_name }}</a>
        </li>
        {% endfor %}
      </div>
    {% else %}
      <div class="alert alert-primary" role="alert">No pages to display.</div>
    {% endif %}
  {% else %}
    <p>Please Login or Register to see this page.</p>
  {% endif %}
{% endblock %}